<!DOCTYPE html>
<html>
<head>
    <title>Admin Dashboard</title>
    <link rel="stylesheet" href="~/css/admin.css" />
</head>
<body>
    <div>
        <h2>Admin Layout</h2>
        <a href="/Identity/Account/Logout">Logout</a>
        <hr />
        @RenderBody()
    </div>
</body>
</html>
